@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
     /* Primary  */
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%); 
    --Orange: hsl(34, 97%, 64%); 
    --Blue: hsl(212, 86%, 64%) ;
    /*  Neutral  */
    --VeryDarkBlue: hsl(234, 12%, 34%); 
    --GrayishBlue: hsl(229, 6%, 66%);
    --VeryLightGray: hsl(0, 0%, 98%);
    font-family: "Poppins", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--VeryLightGray);
}

.heading{
    text-align: center;
    margin-top: 12%;
}
.heading h3{
    font-size: 1.7rem;
    font-weight: 200;
}
.heading h2{
    font-size: 1.7rem;
    color: var(--VeryDarkBlue);
    font-weight: 600;
    margin-bottom: 15px;
}
.heading p{
    font-weight: 200;
    font-size: 0.9rem;
    margin-left: auto;
    margin-right: auto;
    width: 34ch;
}
.container{
    margin: 13% 0;
}
.grid{
    display: grid;
    gap: 15px;
    align-items: center;
}
.same{
    background-color: white;
    max-width: 330px;
    /* border-radius: 5%; */
    margin-left: auto;
    margin-right: auto;
    border-top: 4px solid;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.same .title{
    font-weight: bold;
    color: var(--VeryDarkBlue);
    margin-top: 1.5em;
    display: inline-block;
}
.same span{
    color:  var(--GrayishBlue);
    font-size: 0.8rem;
    width: 30ch;
    display: block;
    margin-top: 1em;
}
.same-mini{
    margin-left: 30px;
}
.imgContainer{
    margin-top: 2em;
}
.imgContainer img{
    margin-left: 160px;
}
.team{
    border-color: var(--Red);
}
.supervisor{
    border-color: var(--Blue);
    height: 200px;
}
.calculator{
    border-color: var(--Cyan);
    height: 200px;
}
.karma{
    border-color: var(--Orange);
}
.flex{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

@media (min-width: 912px) and (max-width: 1440px) {
.heading{
    margin-top: 6%;
}
.container{
    margin: 7% 0;
}
 .grid{
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
 }

 .heading p{
    width: 55ch;
 }
}